{% extends "layout.html" %}

{% block pageTitle %}
  Components Formulation
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/org-product">Organisation & Product Name</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/applicant-details">Applicant Details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/product-details">Product Details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/product-formulation">Product Formulation</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Components Formulation</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Components Formulation</h1>

      <p>Please include ALL components and make sure that the total composition adds up to 100%.</p>

      {{ govukTable({
        caption: "Full formulation of all components of your product",
        firstCellIsHeader: true,
        head: [
          {
            text: "Component",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Trade Name",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Chemical Name",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "CAS Number",
            format: "numeric"
          },
          {
            text: "% by weight",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "1",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "2",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "3",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "4",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "5",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "6",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "7",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "8",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "9",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "10",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "11",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "12",
              format: "numeric"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "",
              format: "numeric"
            },
            {
              text: "",
              format: "numeric"
            }
          ],
          [
            {
              text: "Total",
              classes: 'govuk-!-width-one-third'
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              text: "100",
              format: "numeric",
              classes: 'govuk-!-width-full'
            }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-m">Add component</h2>

      <form action="/components-formulation-2" method="post">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              label: {
                text: 'Trade Name'
              },
              id: "trade-name",
              name: "trade-name"
            }) }}
          </div>

          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              label: {
                text: 'Chemnical Name'
              },
              id: "chemical-name",
              name: "chemical-name"
            }) }}
          </div>

          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              label: {
                text: 'CAS Number'
              },
              id: "cas-number",
              name: "cas-number"
            }) }}
          </div>

          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              id: "weight",
              name: "weight",
              label: {
                text: "Weight"
              }
            }) }}
          </div>

          <div class="govuk-grid-column-full">
            {{ govukButton({
              text: "Add component",
              classes: "govuk-button--secondary"
            }) }}
          </div>
        </div>
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {{ govukButton({
        href: "#",
        text: "Save and continue"
      }) }}
    </div>
  </div>
{% endblock %}
