{% extends "layout.html" %}

{% block pageTitle %}
  Consultant Details
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/org-product">Organisation & Product Name</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/applicant-details">Applicant Details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Consultant Details</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Consultant Details</h1>

      {{ govukDetails({
        summaryText: "Important",
        html: "<p>You should note that DWI cannot provide help or consultancy with your application, including help in completing this form or in resolving outstanding issues or omissions in your application documents.</p>

        <p>If you intend to use a consultant to help you with your application please complete the following details; this consultant will then be our main point of contact throughout the approval process, and final confirmation of approval, if granted, will be sent to them.</p>"
      }) }}

      {{ govukInput({
        label: {
          text: "Contact Name"
        },
        classes: "govuk-!-width-two-thirds",
        hint: {
          text: "Person who will be dealing with this application"
        },
        id: "contact-name",
        name: "contact-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Position"
        },
        classes: "govuk-!-width-two-thirds",
        id: "position",
        name: "position"
      }) }}

      {{ govukTextarea({
        label: {
          text: "Address"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address",
        name: "address"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone Number"
        },
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukInput({
        label: {
          text: "Email"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        classes: "govuk-input--width-20"
      }) }}

      <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Continue
      </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Part of</span>
          <a href="/">
            {{ serviceName }}
          </a>
        </h2>
      </div>

      <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="organisation-product">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Organisation & Product Name
                </span>
              </h3>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-organisation-product-1">
              <p class="app-step-nav__paragraph">About your organisation and your product.</p>
            </div>
          </li>

          <li class="app-step-nav__step app-step-nav__step--active js-step" aria-current="step" data-show id="applicant-details">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Applicant Details
                </span>
              </h3>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-applicant-details-2">
              <p class="app-step-nav__paragraph">About the applicant.</p>

              <ol class="app-step-nav__list" data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.1" class="app-step-nav__link js-link" href="/consultant">Consultant Details (Optional)</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="product-details">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Product Details
                </span>
              </h3>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-product-details-3">
              <p class="app-step-nav__paragraph">About your product.</p>

              <ol class="app-step-nav__list" data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.1" class="app-step-nav__link js-link" href="/product-details">General Details – All Products</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.2" class="app-step-nav__link js-link" href="#">Specific Product Details</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="manufacturers-instructions">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Manufacturer’s Official Instructions For Use (IFU)
                </span>
              </h3>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-manufacturers-instructions-4">
              <p class="app-step-nav__paragraph">About the manufacturer's official instructions for use.</p>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="manufacturer">
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Manufacturer
                </span>
              </h3>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-manufacturer-5">
              <p class="app-step-nav__paragraph">About the manufacturer.</p>

              <ol class="app-step-nav__list" data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.1" class="app-step-nav__link js-link" href="#">Name of Manufacturer and Place of Manufacture</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.2" class="app-step-nav__link js-link" href="#">Manufacturing Quality Management System</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="product-formulation">
            <div class="app-step-nav__header js-toggle-panel" data-position="6">
              <h3 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 6
                      <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  Product Formulation
                </span>
              </h3>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-product-formulation-6">
              <p class="app-step-nav__paragraph">About product formulation and components.</p>

              <ol class="app-step-nav__list" data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.1" class="app-step-nav__link js-link" href="/product-formulation">Guidance on product information requirements</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="6.2" class="app-step-nav__link js-link" href="/components-formulation">Full formulation of all components of your product.</a>
                </li>
              </ol>
            </div>
          </li>

        </ol>
      </div>

    </div>
  </div>
{% endblock %}
