
{% extends "layout.html" %}

{% block pageTitle %}
  Search
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Search</h1>
    </div>

    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "DWI Reference Number"
            },
            classes: "govuk-!-width-full",
            id: "dwi-ref",
            name: "dwi-ref"
          }) }}
        </div>

        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            label: {
              text: "Product Name"
            },
            classes: "govuk-!-width-full",
            id: "product-name",
            name: "product-name"
          }) }}
        </div>

        <div class="govuk-grid-column-one-third">
          {{ govukSelect({
            classes: "govuk-!-width-full",
            id: "product-type",
            name: "product-type",
            label: {
              text: "Product Type"
            },
            items: [
              {
                value: "published",
                text: "Recently published"
              },
              {
                value: "updated",
                text: "Recently updated",
                selected: true
              },
              {
                value: "views",
                text: "Most views"
              },
              {
                value: "comments",
                text: "Most comments"
              }
            ]
          }) }}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Date Submitted</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukDateInput({
            id: "date-submitted-from",
            namePrefix: "date-submitted-from",
            fieldset: {
              legend: {
                text: "Date from:"
              }
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ govukDateInput({
            id: "date-submitted-to",
            namePrefix: "date-submitted-to",
            fieldset: {
              legend: {
                text: "Date to:"
              }
            }
          }) }}
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukButton({
            text: "Search",
            href: "/search-results",
            isStartButton: false
          }) }}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
